.container-rigth
{
    height: 50vh;
}
.align-btn
{
    display:flex;
    justify-content: space-around;
    padding-left: 5px;
    padding-right: 5px;
}
.btn-size-sm{
    width: 100%;
    color: rgba(255, 255, 255);
}
.btn-size-sm:hover
{
    background-color: rgba(255, 255, 255);
    color: rgba(1, 51, 100);
}

.title-format{
    padding: 30px 0 30px 0;
}
.title-format > h4
{
    font-size: 2.5rem;
    font-family: 'Century Gothic', Arial, Helvetica,  sans-serif;
    list-style: none;
    font-weight: bold;
    color: rgba(36, 36, 36, 0.84) !important;
}
.border-nav
{
    text-align: center;
    align-content: space-around;
    width: 100%;
    background-color: rgba(0, 85, 182);
    color: rgb(255, 255, 255) !important;
    margin: 10px 0 10px 0;
    padding: 5px 0 5px 0;
    border-top: solid 0.05rem rgba(122, 122, 122, 0.5);
    border-bottom: solid 0.05rem rgba(122, 122, 122, 0.5);
}

.btn-dimension{
   width: 100%;
   margin-top: 20px;
   padding: 20px 0 20px 0; 
}
.form-size
{
    position: relative;
    width: 95%;
    margin: auto;
}
.search-bar
{
    top: 80px;
    left: 10px;
    min-width: 350px;
    width: 45% !important;
    padding: 0 4vh 10px 2vh;
    position: absolute;
    z-index: 9999;
}

.mapa {
    height: 90vh !important;
    width: 100%;
}

.container {
    width: 100%;
    margin: auto;
}


.aligment-forms-local {
    max-width: 95%;
    margin: auto;
    
}

.neyth-padding-check-row{
    padding-left: 2px !important;
    padding-right: 2px !important;
}
.padding-local-check{
    padding-left: 2px !important;
    padding-right: 2px !important;
    padding: 0 0 0 0;
}
.form-group{
    width: 100%;
}
.itemcontent input{
    visibility: hidden;
}

input[type='checkbox'] { display: none; overflow: hidden;} 
.wrap-collabsible { margin: 1.2rem 0; } 
.lbl-toggle { 
    overflow: hidden;
    display: block;
    font-size: 1.2rem; 
    text-align: center; 
    padding: 1rem; 
    color: grey; 
    background: #fff; 
    cursor: pointer; 
    border-radius: 7px; 
    transition: all 0.25s ease-out; 
    text-align: left;
} 
.lbl-toggle span{
    font-size: 10pt;
}

.lbl-toggle:hover { color: rgb(3, 108, 206); } 
.lbl-toggle::before { 
    content: ' ';
    display: inline-block; 
    border-top: 5px solid transparent; 
    border-bottom: 5px solid transparent; 
    border-left: 5px solid currentColor; 
    vertical-align: middle; margin-right: .7rem; 
    transform: translateY(-2px); 
    transition: transform .2s ease-out; 
} .toggle:checked+.lbl-toggle::before { transform: rotate(90deg) translateX(-3px); } 

.collapsible-content { 
    max-height: 0px; 
    overflow: hidden; 
    transition: max-height .25s ease-in-out; 
} 
.toggle:checked + .lbl-toggle + .collapsible-content { max-height: 100%; } 
.toggle:checked+.lbl-toggle { border-bottom-right-radius: 0; border-bottom-left-radius: 0; } 
.collapsible-content .content-inner { 
    border-bottom-left-radius: 7px; border-bottom-right-radius: 7px; 
    padding: .5rem 1rem; 
} 
.collapsible-content p { margin-bottom: 0; }


.card-col-label{
    padding: 0 20px 0 30px;
    justify-content: space-between;
}
.grid-alies{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.box-alies{
    background-color: rgba(122, 122, 122, 0.5);
    border-radius: 10px;
    width: 150px;
    height: 80px;
}
.scroll-vertical{
    overflow-y: scroll;
    height: 300px;
}
.scroll-vertical::-webkit-scrollbar {
    display: none;
}


.vertical-scroll{
    overflow-y:auto;
}

.hiddenCharBD{
    display: none;
}
.hiddenCharBW{
    display: none;
}
.hiddenCharBM{
    display: none;
}
.hiddenCharBY{
    display: none;
}
.hiddenModalPOND{
    display: none;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }

    .mapa {
        height: 45vh !important;
        width: 100%;
    }
    .title-format > h4
    {
        text-align: center;
        font-size: 1.5rem;
    }
  }


  .chart-size
  {
      width: 100% !important;
      height: 20vh !important;
  }

  .Title-Result
  {
      text-align: center;
      padding: 2rem 2rem 2rem 2rem;
  }
  .Title-Result label > span
  {
      border: solid 1px rgba(122, 122, 122, 0.5);
      border-radius: 5px;
  }