<div>
    <div class = "map-header">
        <app-nav-bar></app-nav-bar>
        <div class="form-group search-bar">
            <label></label>
            <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Ingresa una localización" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
        </div>
    </div>
    <div class = "map-body">
        <agm-map class="mapa" [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
            <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
              (dragEnd)="markerDragEnd($event)"></agm-marker>
        </agm-map>
    </div>
    <div class = "map-footer">
        <div>
            <button class="btn btn-primary" type="button">Consultar</button>
        </div>
    </div>
</div>
       
   