<div>
    <div class = "map-header">
        <app-nav-bar></app-nav-bar>
        
    </div>
    <div class = "map-body row">
        <div class= " col-sm">
            <div class="form-group search-bar">
                <label></label>
                <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Ingresa una localización" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
            </div>
            <agm-map class="mapa" [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
                <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                  (dragEnd)="markerDragEnd($event)"></agm-marker>
            </agm-map>
        </div>
        <div class="col-sm container-rigth">
            <div class="title-format">
                <h4>Ingresa parámetros de búsqueda</h4>
              </div>
            <div class="form-size  ">

                <div class="">
                    <form [formGroup]="formParameters" (ngSubmit)="procesarDatos()">
                       
                        <div class="row form-size">
                                <div class="form-group row col-sm">
                                    <label class="col-sm-4 col-form-label">Desde</label>
                                    <div class="col-sm-8">
                                        <input formControlName="startDate" class="form-control" type="date" placeholder="Ingrese la fecha de Inicio">
                                    </div>
                                </div>
      
                                <div class="form-group row col-sm">
                                    <label class="col-sm-4 col-form-label">Hasta</label>
                                    <div class="col-sm-8">
                                        <input formControlName="endDate" class="form-control" type="date" placeholder="Ingrese la fecha de Fin" max="2020-12-31">
                                    </div>
                                </div>
      
                        </div>
                        <div class="">
                          <button type="submit" class="btn btn-secondary btn-dimension">Consultar</button>
                        </div>
                      </form>
                </div>
                





                <div class="align-btn border-nav ">
                    <div class=" col-sm">
                        <button class="btn btn-ligth btn-size-sm" (click)="generateChartByDay()">Día</button>
                    </div>
                    <div class=" col-sm">
                        <button class="btn btn-ligth btn-size-sm" (click)="generateChartByWeek()">Semana</button>
                    </div>
                    <div class=" col-sm">
                        <button class="btn btn-ligth btn-size-sm" (click)="generateChartByMes()">Mes</button>
                    </div>
                    <div class="col-sm">
                        <button class="btn btn-ligth btn-size-sm" (click)="generateChartByAnio()">Año</button>
                    </div>
                </div>






                <div class="container-rigth vertical-scroll">
                    <div>
                        
                        <div class="" [ngClass]="_chartService.hiddenModalBD">
                            <div>
                                <label>Ahorro Generado del Mes:$39.36   Producción promedio de Energía:393.56 Kw
                                </label>
                            </div>
                            <canvas id="canvas">
                                {{chartDaily}}
                            </canvas>
                        </div>
                        <div class="" [ngClass]="_chartService.hiddenModalBW">
                            <div>
                                <label>Ahorro Generado del Mes:$39.36   Producción promedio de Energía:393.56 Kw
                                </label>
                            </div>
                            <canvas id="canvas3">
                                {{chartWeek}}
                            </canvas>
                        </div>
                        <div class="" [ngClass]="_chartService.hiddenModalBM">
                            <div>
                                <label>Ahorro Generado del Mes:$39.36   Producción promedio de Energía:393.56 Kw
                                </label>
                            </div>
                            <canvas id="canvas1">
                                {{chartMensual}}
                            </canvas>
                        </div>
                        <div class="" [ngClass]="_chartService.hiddenModalBY">
                            <div>
                                <label>Ahorro Generado del Mes:$39.36   Producción promedio de Energía:393.56 Kw
                                </label>
                            </div>
                            <canvas id="canvas2">
                                {{chartAnual}}
                            </canvas>
                        </div>




    
                        
    



                    </div>
                    
    
                    








                </div>

                



                
            
            
        </div>
        
    </div>
    <div class = "map-footer">
        <div>
            <span></span>
        </div>
    </div>
</div>
       
<ng-http-loader></ng-http-loader>   