<div class="wrap-collabsible">
    <input id="collapsible-2" class="toggle" type="checkbox">
    <label for="collapsible-2" class="lbl-toggle">Referencias personales
        <br><span>Visualice el registro de referencias personales o agregue uno nuevo.</span>
    </label>
   
    <div class="collapsible-content">
      <div class="content-inner">
        <div class="page-content page-container" id="page-content">
            <div class="padding">
                <div class="mb-5">
                    <div class="display-tab">
                        <span class="padding-name">Añadir Referencias Personales</span>
                        <button class="btn btn-success"  type="button"> + </button>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-theme table-row v-middle">
                            <thead>
                                <tr>
                                    <th class="text-muted sortable" data-toggle-class="asc">Nombres</th>
                                    <th class="text-muted  width-phone" >Apellidos</th>
                                    <th class="text-muted"><span class="d-none d-sm-block">Parentesco</span></th>
                                    
                                    <th style="width:50px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class=" v-middle" data-id="15">
                                
                                    <td class="flex">
                                        <!--a href="https://www.google.com/" class="item-title text-color ">Weekend Fun Project</a-->
                                        <div class="item-except text-muted text-sm h-1x">
                                    
                                        </div>
                                    </td>
                                    <td class="flex">
                                        <span class="item-amount d-none d-sm-block text-sm ">
                                        
                                        </span>
                                    </td>
                                    <td>
                                        <span class="item-amount d-none d-sm-block text-sm ">
                                        
                                        </span>
                                    </td>
                                    <td>
                                        <button class="btn btn-success" type="Button" >
                                            Eliminar
                                        </button>
                                    
                                    </td>
                                    <td>
                                    <button class="btn btn-success" type="Button">
                                        Editar
                                    </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <hr>
      </div>
    </div>
</div>